a {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: #000000;
    background-color: gray;
    border-radius: 8px;
}

a:hover {
    background-color: #242424;
    color: #FFFFFF;
}